@using WebBiblioteca.Models



<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebBiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebBiblioteca.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #795D8C;">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand fs-1 mx-2" href="/Index">Biblioteca</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
                        <li class="nav-item px-3">
                            <a class="nav-link active fs-5" href="/LibrosAdmin">Libros</a>
                        </li>
                        <li class="nav-item dropdown px-3">

                            <a class="nav-link active fs-5" href="/GenerosAdmin" role="button">
                                Generos
                            </a>
                            <ul class="dropdown-menu"  id="ulGeneros">

                            </ul>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link active fs-5" href="/AutoresAdmin">Autores</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link active fs-5" href="#">Productos</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link active fs-5" href="/CategoriaAdmin">Categorias</a>
                        </li>
                    </ul>
                    <div>
                        <i class="fa-solid fa-user text-white px-5 fs-5"></i>
                    </div>
                </div>

            </div>

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebBiblioteca - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Generos.js"></script>
    <script src="~/js/CategoriaAdmin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>
</html>