@using WebBiblioteca.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var authToken = Context.Session.GetString("AuthToken");
    var userRole = Context.Session.GetInt32("UserRole");
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebBiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebBiblioteca.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #795D8C;">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand fs-1 mx-2" href="/Index">Biblioteca</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-4">
                        @{
                            if (userRole == 1 || userRole == 3)
                            {
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/LibrosAdmin">Libros</a>
                                </li>
                            }else{
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/Libros">Libros</a>
                                </li>
                            }
                        }

                        <li class="nav-item dropdown px-3">

                            @{
                                if (userRole == 1 || userRole == 3)
                                {
                                    <a class="nav-link active fs-5" href="/GenerosAdmin" role="button">
                                        Generos
                                    </a>
                                }else{
                                    <a class="nav-link active fs-5" href="" role="button">
                                        Generos
                                    </a>
                                }
                            }


                            <ul class="dropdown-menu"  id="ulGeneros">

                            </ul>
                        </li>
                        @{
                            if (userRole == 1 || userRole == 3)
                            {
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/AutoresAdmin">Autores</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/CategoriaAdmin">Categoria</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/ReclamosAdmin">Reclamos</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/resena">Reseñas</a>
                                </li>
                                <li class="nav-item px-3">
                                    <a class="nav-link active fs-5" href="/ReservasAdmin">Reservas</a>
                                </li>
                            }
                        }

                        <li class="nav-item px-3">
                            <a class="nav-link active fs-5" href="#">Productos</a>
                        </li>
                       
                    </ul>

                    <div>

                        

                        @if (authToken != null)
                        {
                            <a href="/PerfilUsuario" class="text-decoration-none">
                                <i class="fa-solid fa-user text-white px-3 fs-5"></i>
                            </a>

                            <form method="post" asp-page="/Logout" asp-page-handler="OnPost" style="display:inline;">
                                <button type="submit" class="btn btn-link text-white fs-5 text-decoration-none">Logout</button>
                            </form>

                           
                        }
                        else
                        {
                            <a href="/Login" class="text-white fs-5 px-3 text-decoration-none">Login</a>
                        }




                    </div>

                </div>

            </div>

        </nav>
    </header>

    <div class=" my-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WebBiblioteca - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Generos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>