@page "{idGenero}"
@model WebBiblioteca.Pages.GeneroModel
@{
    ViewData["Title"] = "GeneroId";
}


<div class="container  my-5" id="ContenedorgeneroPorId">

    <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
        <div>
            <h2 class="fw-bold">LIBROS</h2>
            <p class="text-muted mb-0">Explore universos entre páginas</p>
        </div>
        <div class="d-flex align-items-center mt-3 mt-md-0">
            <label for="ordenar" class="me-2 fw-semibold">Ordenar por:</label>
            <select id="ordenar" class="form-select w-auto" >
                <option value="seleccion">libros</option>
                <option value="precio_menor">Precio menor</option>
                <option value="precio_mayor">Precio mayor</option>

            </select>
        </div>
    </div>


    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4" id="librosMostrarId">

    </div>



</div>











<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
	<script src="~/js/Generos.js"></script>
	<script src="~/js/Libros.js"></script>

	<script>
		const generoId = @Model.IdGenero;
		libroPorGenero(generoId);
	</script>
}