@page
@model WebBiblioteca.Pages.ProductosModel
@{
    ViewData["Title"] = "Productos";
}
<head>
    <link href="~/css/Libro.css" rel="stylesheet" />
</head>
<div class="container my-5">

    <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">

        <div>
            <h2 class="fw-bold">PRODUCTOS</h2>
            <p class="text-muted mb-0">Cachibaches y mas</p>
        </div>


    </div>


    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4" id="ProductosMostrar">
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Productos.js"></script>


