@page
@model WebBiblioteca.Pages.ProductosModel
@{
    ViewData["Title"] = "Productos";
}

<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4" id="ProductosMostrar">

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Productos.js"></script>
