@page
@model WebBiblioteca.Pages.ReservasModel
@{
    ViewData["Title"] = "Reservas Admin";
}


<div class="container my-5">
    <div class="card">
        <h1 class="card-header text-center text-white" style="background-color: #F2A172"> Registro de Reservas</h1>
        <div class="card-body">
            <table class="table" id="tablaReservas">
                <thead>
                    <tr class="text-center">
                        <th scope="col">id reserva</th>
                        <th scope="col">Libro</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">estado</th>
                        <th scope="col">estado</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Reservas.js"></script>
